body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-wrapper {
	height: 200vh;
	width: 1200px;
	display: flex;
	flex-direction: row;
}

.side-bar {
	height: 100%;
	/* width: 318px; */
	width: 30%;
	border: 1px solid red;
	margin-right: 2px;
	background-color: rgb(98, 97, 91);
}

.main-section {
	height: 100%;
	/* width: 476px; */
	width: 70%;
	border: 1px solid black;
}

.profile-picture {
	display: flex;
	margin: 10 auto;
	width: 250px;
	height: 250px;
}

.profile-picture img {
	border-radius: 50%;
	border: 1px solid rebeccapurple;
	background-repeat: no-repeat, no-repeat;
	background-position: right, left;
}

.contact-details {
	display: flex;
	flex-direction: column;
}

.contact-section {
	display: flex;
	flex-direction: row;
	border: 1px solid rebeccapurple;
	width: 90%;
	height: 50;
    margin-left: 10px;
}

.icon {
	display: flex;
	margin: 2 auto;
	width: 40px;
	height: 40px;
	margin-left: 10px;
}

.icon img {
	border-radius: 50%;
	border: 1px solid rebeccapurple;
	background-repeat: no-repeat, no-repeat;
	background-position: right, left;
}

.address {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
}
