* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-list {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: rgb(30, 36, 46);
}

.nav-list ul {
    list-style: none;
    width: 90%;
    margin: 20px auto 20px 20px;
}

.nav-list li {
    display: block;
    width: 100%;
    background-color: rgb(44, 50, 59);
    height: 60px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 2px;
}

.nav-list li:hover {
    background-color: white;
    width: 105%;
}

.nav-list li:hover a ion-icon {
    color: rgb(66, 57, 57);
}

.nav-list li:hover a span {
    color: rgb(66, 57, 57);
}

.nav-list li a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    text-decoration: none;
}

.nav-list li a ion-icon {
    position: relative;
    left: 10px;
    font-size: 25px;
    color: white;
}

.nav-list li a span {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}

@media only screen and (max-width: 600px) {
    .nav-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 80px;
    }

    .nav-list ul {
        list-style: none;
        width: 80%;
        margin: 20px auto 20px 10px;
    }

    .nav-list li a span {
        display: none;
    }
}
